body {
  background-color: rgb(37, 37, 37);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(5, 150px);
}

.display {
  background-color: white;
}
