body {
  background-color: rgb(37, 37, 37);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(5, 150px);
  grid-template-areas: "header header header header";
  justify-content: center;
  margin-top: 15em;
  gap: 5px;
}

.display {
  background-color: white;
  grid-area: header;
  border-radius: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  font-size: 7em;
}

.button {
  font-size: 2.5em;
  border-radius: 8px;
}

.button:hover {
  background-color: rgb(56, 93, 93);
  border: solid 3px cyan;
  color: cyan;
}
